@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body{
    background-size:cover;
}

.heading{
    width: 100%;
    font-size:35px;
    font-family: 'Koulen', cursive;
    text-shadow:2px 2px 2px rgb(0, 247, 255);
}

.back_button{
    font-family: 'Koulen', cursive;
    font-size:20px;
    float:right;
    margin-right:20px;
    background-color: white;
    color:black;
    text-shadow:2px 2px 2px rgb(0, 247, 255);
    border-radius:20px;
    border-width:2px;
    border-color:black;
}

#status{
    width: 100%;
    font-size:23px;
    font-family: 'Koulen', cursive;
    text-shadow:2px 2px 2px rgb(0, 247, 255);
    margin-left:105px;
}

canvas{
    box-shadow:10px 10px 10px cyan;
    border-radius:10px;
    border-width: 10px;
    border-color:red;
    margin-top:100px;
}